{{ template "layout/header.html" .}}

<style>
    .btn-login {
        background-color: #5D73FE;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        width: 100%;
    }
    
    .btn-singin:hover {
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }
</style>

<div class="container-fluid">
    <div class="card-main-login" style="margin-top: 120px;">
        <div class="d-flex justify-content-center">
            <div class="card shadow-sm" style="width: 30rem;">
                <div class="card-body">
                    <p class="card-text text-center" style="text-align: center; font-size: 30px;">ระบบเพิ่มกิจกรรม</p>
                    <form id="login-main" action="/todo/checkLogin" method="post">
                        <div class="form-floating mb-4 mt-4">
                            <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                            <label for="username">Username</label>
                        </div>
                        <div class="form-floating mb-4 mt-4">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                            <label for="password">Password</label>
                        </div>
                        <button type="submit" class="button btn-login btn-singin">เข้าสู่ระบบ</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{{ template "layout/footer.html" .}}